/* Write your CSS code here */
.profile-pic {
  height: 150px;
  background-size: cover;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-designation {
  font-family: Roboto;
  font-size: 15px;
  color: #616e7c;
}

.user-name {
  font-family: Roboto;
  font-size: 25px;
  color: #12022f;
  font-weight: bold;
}
